@import '../common.scss';

:host {
  margin-bottom: 2em;
  z-index: 10;
}

.header {
  padding: 0.25em 0.5em;
  background: white;
  color: $text-blue;
  font-size: larger;
  font-weight: bolder;
  border-bottom: 2px solid $text-blue;
  width: 100%;
  position: fixed;
}

.header-text {
  border-bottom: 2px solid $text-accent;
}

.logout-link {
  text-decoration: none;
}

.logout-link:hover {
  cursor: pointer;
}
