@import '../common.scss';

.footer {
  font-size: smaller;
  padding: 0.5em;
  padding-bottom: 0;
  background: white;
}

.funny-digit {
  font-family: funny-digits;
  font-size: 5em;
  transition: 0.2s ease-in-out;
  width: auto;
  background: white;
  border-radius: 0.5em 0.5em 0 0 ;
}

.funny-digit:hover {
  box-shadow: $material-shadow;
  transform: scale(1.2) translateY(-10px);
}
