<footer class="footer">
  <div class="copyright">
    Педагог по ментальной арифметике Павловская Кристина Ивановна
  </div>
  <div fxLayout="row" fxLayoutAlign="space-around center">
    <span class="funny-digit" style="color:red">0</span>
    <span class="funny-digit" style="color:orange">1</span>
    <span class="funny-digit" style="color:brown">2</span>
    <span class="funny-digit" style="color:green">3</span>
    <span class="funny-digit" style="color:blue">4</span>
    <span class="funny-digit" style="color:darkblue">5</span>
    <span class="funny-digit" style="color:purple">6</span>
    <span class="funny-digit" style="color:brown">7</span>
    <span class="funny-digit" style="color:blue">8</span>
    <span class="funny-digit" style="color:red">9</span>
  </div>
</footer>