<form [formGroup]="form">
  <header fxLayout="row" fxLayoutGap="1em">
    <mat-form-field>
      <mat-select
        placeholder="Тема"
        formControlName="topic"
        (selectionChange)="onSelectTopic()"
      >
        <mat-option
          *ngFor="let topic of topics"
          [value]="topic.name"
        >
          {{topic.caption}}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field> 
      <mat-select
        placeholder="Уровень"
        formControlName="level"
        (selectionChange)="onSelectLevel()"
      >
        <mat-option
          *ngFor="let level of levels"
          [value]="level"
        >
          {{level}}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field>
      <input 
        type=number
        matInput
        formControlName="maxDigit"
        placeholder="Максимальная цифра"
        min="1"
        max="9"
      >
    </mat-form-field>
  </header>
  <section>
    <header class="section-header"> 
      <mat-form-field>
        <mat-select
          formControlName="operation"
          (selectionChange)="loadRules()"
          placeholder="Операция"
        >
          <mat-option value="plus">Сложение</mat-option>
          <mat-option value="minus">Вычитание</mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field> 
        <mat-select
          placeholder="Правила вида"
          formControlName="rulesType"
        >
          <mat-option value="allowed">
            Можно
          </mat-option>
          <mat-option value="forbidden">
            Нельзя
          </mat-option>
        </mat-select>
      </mat-form-field>
    </header>
    <button 
      mat-raised-button
      type="button"
      (click)="addRule()"
      style="margin-right:1em;"
      [disabled]="!form.get('topic').value || !form.get('level').value || !form.get('operation').value"
    >
      Добавить правило
    </button>
    <button 
      mat-raised-button
      type="button"
      (click)="saveChanges()"
      [disabled]="!form.valid"
    >
      Сохранить изменения
    </button>
    <div class="rules" *ngIf="form.get('level').value" formArrayName="rules">
      <span *ngIf="!form.get('rules').value.length">
        На данный момент нет правил. Добавьте их.
      </span>
      <div
        *ngFor="let control of ruleControls.controls; let i = index"
        [formGroupName]="i"
        class="rule"
      >
        <div>
          Значение:&nbsp;
          <mat-form-field style="width: 4em; text-align: center;">
            <input
              matInput
              type="number"
              min="1"
              max="9999" 
              formControlName="value"
            >
          </mat-form-field>:
          <span *ngIf="control.disabled">
            <button
              mat-icon-button
              type="button"
              matTooltip="Редактировать"
              (click)="edit(i)"
            >
              <i class="material-icons">edit</i>
            </button>
          </span>
          <span *ngIf="control.enabled">
          <button mat-icon-button type="button" (click)="finishEditing(i)">
           <i class="material-icons" matTooltip="Сохранить">done</i>
          </button>
          <button mat-icon-button type="button" (click)="removeRule(i)">
           <i class="material-icons" matTooltip="Удалить">close</i>
          </button>
          </span>
        </div>
        <div class="ranges-list" *ngIf="control.disabled">
          Правила:
          <mat-chip-list>
            <mat-chip *ngFor="let range of control.get('ranges').value">
              {{range}}
            </mat-chip>
          </mat-chip-list>
        </div>
        <mat-form-field *ngIf="control.enabled" style="width: 100%;">
          <textarea
            (keypress)="isRangeInput($event.key)"
            matInput
            placeholder="Правила"
            formControlName="ranges"
          >
          </textarea>
          <mat-error>
            В этих правилах допущены ошибки: {{control.getError('badRanges')}}
          </mat-error>
        </mat-form-field>
      </div>
    </div>
  </section>
</form>
