<form [formGroup]="form" (ngSubmit)="onSave()">
  <div class="form-row">
    <mat-form-field style="margin-right: 1em;">
      <input required matInput type="text" placeholder="Логин" formControlName="login">
    </mat-form-field>
    <mat-form-field>
      <input required matInput type="text" placeholder="Пароль" formControlName="password">
    </mat-form-field>
  </div>
  <div class="form-row">
    <mat-form-field style="margin-right: 1em;">
      <input required matInput type="text" placeholder="Имя" formControlName="name">
    </mat-form-field>
    <mat-form-field>
      <input required matInput type="text" placeholder="Фамилия" formControlName="surname">
    </mat-form-field>
  </div>
  <div class="form-row">
    <mat-form-field  style="margin-right: 1em;">
      <input matInput type="tel" placeholder="Номер телефона" formControlName="phoneNumber">
    </mat-form-field> 
    <mat-checkbox formControlName="isActive" labelPosition="before">
      Активен:
    </mat-checkbox>
  </div> 
  <div style="margin-top: 1em" fxLayout="row" fxLayoutAlign="space-around">
    <button type="submit" [disabled]="!form.valid" mat-raised-button>Сохранить</button>
    <button type="button" mat-raised-button (click)="onClose()">Закрыть</button>
    <!-- <button *ngIf="this.studentToEdit" type="button" mat-raised-button (click)="onDelete()">Удалить</button> -->
  </div>
</form>