<header fxLayout="row"> 
  <div fxFlex="1 0">
    <button mat-raised-button type="button" (click)="addStudent()">Добавить ученика</button>
  </div>
  <h1  style="font-size: larger; font-weight: bold; white-space: nowrap;">Список учеников</h1>
  <div fxFlex="1 0"></div>
</header>

<table mat-table [dataSource]="students">

  <ng-container matColumnDef="name">
    <th mat-header-cell *matHeaderCellDef>Имя</th>
    <td mat-cell *matCellDef="let student">
      {{student.name}}
    </td>
  </ng-container>

  <ng-container matColumnDef="surname">
    <th mat-header-cell *matHeaderCellDef>Фамилия</th>
    <td mat-cell *matCellDef="let student">
      {{student.surname}}
    </td>
  </ng-container>

  <ng-container matColumnDef="login">
    <th mat-header-cell *matHeaderCellDef>Логин</th>
    <td mat-cell *matCellDef="let student">
      {{student.login}}
    </td>
  </ng-container>

  <ng-container matColumnDef="password">
    <th mat-header-cell *matHeaderCellDef>Пароль</th>
    <td mat-cell *matCellDef="let student">
      <span fxLayout="row" fxLayoutAlign="start center">
        <span>{{student.password}}</span>
      </span>
    </td>
  </ng-container>

  <ng-container matColumnDef="phoneNumber">
    <th mat-header-cell *matHeaderCellDef>Номер телефона</th>
    <td mat-cell *matCellDef="let student">
      {{student.phoneNumber}}
    </td>
  </ng-container>

  <ng-container matColumnDef="isActive">
    <th mat-header-cell *matHeaderCellDef>Активен</th>
    <td mat-cell *matCellDef="let student">
      {{student.isActive? 'Да' : 'Нет'}}
    </td>
  </ng-container>

   <ng-container matColumnDef="tools">
    <th mat-header-cell *matHeaderCellDef></th>
    <td mat-cell *matCellDef="let student">
      <button type="button" (click)="editStudent(student)" matTooltip="Редактировать" mat-icon-button>
        <i class="material-icons">edit</i>
      </button>
      <button type="button" [routerLink]="'../../history/' + student.id" matTooltip="История занятий" mat-icon-button>
        <i class="material-icons">list</i>
      </button>
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>
