<button mat-button>Добавить студента</button>

<form [formGroup]="form">
<table mat-table [dataSource]="form.controls">

  <ng-container matColumnDef="name">
    <th mat-header-cell *matHeaderCellDef>Имя</th>
    <td mat-cell *matCellDef="let control">
      {{control.get('name').value}}
    </td>
  </ng-container>

  <ng-container matColumnDef="surname">
    <th mat-header-cell *matHeaderCellDef>Фамилия</th>
    <td mat-cell *matCellDef="let control">
      {{control.get('surname').value}}
    </td>
  </ng-container>

  <ng-container matColumnDef="login">
    <th mat-header-cell *matHeaderCellDef>Логин</th>
    <td mat-cell *matCellDef="let control">
      {{control.get('login').value}}
    </td>
  </ng-container>

  <ng-container matColumnDef="password">
    <th mat-header-cell *matHeaderCellDef>Пароль</th>
    <td mat-cell *matCellDef="let control">
      {{control.get('password')?.value}}
    </td>
  </ng-container>

  <ng-container matColumnDef="phoneNumber">
    <th mat-header-cell *matHeaderCellDef>Номер телефона</th>
    <td mat-cell *matCellDef="let control">
      {{control.get('phoneNumber').value }}
    </td>
  </ng-container>

  <ng-container matColumnDef="isActive">
    <th mat-header-cell *matHeaderCellDef>Активен</th>
    <td mat-cell *matCellDef="let control">
      {{control.get('isActive').value ? 'Да' : 'Нет'}}
    </td>
  </ng-container>

   <ng-container matColumnDef="tools">
    <th mat-header-cell *matHeaderCellDef></th>
    <td mat-cell *matCellDef="let control">
      <button mat-icon-button><i class="material-icons">edit</i></button>
      <button mat-icon-button><i class="material-icons">save</i></button>
      <button mat-icon-button><i class="material-icons">clear</i></button>
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>
</form>
