/* You can add global styles to this file, and also import other style files */

@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';

@font-face {
  font-family: funny-digits;
  src: url('./assets/funny-digits.ttf') format('truetype');
}

html, body {
  padding: 0;
  margin: 0;
  font-family: 'Source Sans Pro', sans-serif;
}

* {
  box-sizing: border-box;
}
