@import '../common.scss';

.section {
  padding: 1em;
  border-radius: 1em;
  background: white;
  box-shadow: $material-shadow;
}

.main-section {
  padding: 1em;
  // height: 100%;
  // flex: 1;
}

.enter-answer-button {
  // max-width: 50%;
  // flex: 0 1 auto;
}

// .start-button {
//   // background: $text-bk-1;
// }

.start-button:hover {
  border: 2px solid $text-bk-1;
}

.section-header-text {
  margin: 0;
  margin-bottom: 1em;
  padding: 0.25em;
  border-bottom: 2px solid #FF8C77;
  text-align: center;
  color: #5190A5;
}

.topics {
  width: 100%;
}


// .topic {
// }

.topic > * {
  margin: auto;
}

.level {
  border-radius: 100%;
  text-align: center;
  line-height: 2em;
  width: 2em;
  height: 2em;
  margin-top: 0.5em;
  background: $text-bk-2;
}


.level-name {
  font-weight: bolder;
}

.level.selected, .topic-name.selected {
  background: red;
  color: white;
  font-weight: bolder;
}


.level:hover {
  transform: scale(1.1);
  font-weight: bolder;
  cursor: pointer;
}

.topic-name {
  background: #FFD777;
  padding: 0.5em;
  border-radius: 1em;
  font-weight: bolder;
}

.params {
  font-size: larger;
}

// .params-digits {
//   // font-size: larger;
// }

.params-digits-icon {
  color: red;
  color: #FF8C77;
}

// .my-checkbox {
//   position: relative;
//   width: 1em;
//   height: 1em;
//   border-bottom: 1px dashed black;
//   display: inline-block;
// }

.params-digits-icon:hover {
  cursor: pointer;
}

.enter-answer-input {
  color: $text-blue;
  width: 100%;
  font-size: 1em;
}
.enter-answer-input.valid {
  color: $text-bk-2;
}

.enter-answer-input.invalid {
  color: $text-accent;
}

.my-input:focus {
  outline: none;
}

.task-section {
  // flex: 1;
  // flex-shrink: 0;
  // margin-right: 1em;
  // height: 100%;
  width: 50%;
  overflow: auto;
}

// .section-content {
// }

.task {
  margin: 0 auto;
  font-size: 12em;
  color: #5190A5;
}

.past-operations {
  width: 100%;
  font-size: x-large;
  color: $text-blue;
  border: 2px solid $text-accent;
  border-left: 0;
  border-right: 0;
  white-space: nowrap;
  overflow-x: scroll;
}

.past-operation {
  margin-right: 1em;
}

.my-checkbox {
  outline: 0;
  transform: scale(1.5);
  padding: 0;
  margin: 0;
}

.not-in-focus {
  opacity: 0.7;
  position: relative;
  // left: -100vw;
  width: 0;
  visibility: hidden;
}