$bk: lightblue;
$text-bk-1: #fff200;
$text-bk-2: #B7F200;
$text: black;
$material-shadow: 0 3px 1px -2px rgba(0,0,0,.2), 0 2px 2px 0 rgba(0,0,0,.14), 0 1px 5px 0 rgba(0,0,0,.12);

:host {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  background: $bk;
  padding-bottom: 0;
  padding-top: 1em;

}

.section {
  padding: 1em;
  margin-bottom: 1em;
  border-radius: 1em; 
  background: white;
  box-shadow: $material-shadow;
}

.top-section {
  width: 100%;
  flex: 1;
}

.bottom-section {
  padding: 0.5em;
  padding-bottom: 0;
  background: white;
}

.start-button {
  padding: 0.5em;
  font-size: 2em;
  text-decoration: none;
  outline: none;
  border: none;
  background: none;
  border-radius: 0.5em ;
  background: $text-bk-1;
}

.start-button:disabled {
  opacity: 0.5;
}

.start-button:hover {
  border: 2px solid $text-bk-1;
  cursor: pointer;
}

.header-text {
  padding: 0.25em;
  border-bottom: 2px solid tomato;
  text-align: center;
}

.topics {
  width: 100%;
}


.topic {
}

.topic > * {
  margin: auto;
}

.level {
  border-radius: 100%;
  text-align: center;
  line-height: 2em;
  width: 2em;
  height: 2em;
  margin-top: 0.5em;
  background: $text-bk-2;
}


.level-name {
  font-weight: bolder;
}

.level.selected {
  background: red;
  color: white;
  font-weight: bolder;
}


.level:hover {
  transform: scale(1.1);
  font-weight: bolder;
  cursor: pointer;
}

.topic-name {
  background: #FFD777;
  padding: 0.5em;
  border-radius: 1em;
  font-weight: bolder;
}

.funny-digit {
  font-family: funny-digits;
  font-size: 5em;
  transition: 0.2s ease-in-out;
  width: auto;
  background: white;
  border-radius: 0.5em 0.5em 0 0 ;
  padding: 0.1em;
}

.funny-digit:hover {
  box-shadow: $material-shadow;
  transform: scale(1.2) translateY(-10px);
}

.params > * {
  margin-bottom: 1em;
}

.params {
  font-size: larger;
}

.params-digits {
  // font-size: larger;
}

.params-digits-icon {
  color: red;
}

.params-digits-icon:hover {
  cursor: pointer;
}

.my-input {
  border: none;
  text-align: center;
  border-bottom: 1px dashed black;
}

.my-input:focus {
  outline: none;
}