<main
  class="main-section"
  fxLayout="row"
  fxLayoutAlign="center stretch"
  fxLayoutGap="1em"
>
  <section class="section" [class.not-in-focus]="appState !== 'config'" disabled>
    <header>
      <h1 class="section-header-text">ТЕМЫ</h1>
    </header>
    <div class="topics" fxLayout="row" fxLayoutGap="1em" fxLayoutAlign="start start">
      <div
        *ngFor="let topic of topics"
        class="topic"
        fxLayout="column"
      >
         <div
           class="topic-name"
           [class.selected]="topic.name === configForm.value['topic']"
           fxFlex
           (click)="topic.levels.length || selectLevel(topic.name, null)"
          >
            {{topic.caption}}
          </div>
         <div class="levels">
          <div
            *ngFor="let level of topic.levels"
            class="level"
            (click)="selectLevel(topic.name, level);"
            [class.selected]=
              "topic.name === configForm.value['topic'] 
              && level === configForm.value['level']"
          >  
            {{level}}
          </div>
        </div>
      </div>
    </div>
  </section>
  <section
    class="section task-section"
    *ngIf="appState !== 'config'"
    fxLayout="column"
  > 
    <header class="section-header">
      <h1 class="section-header-text">ПРИМЕР</h1>
    </header>
    <div
      fxLayout="column"
      fxLayoutAlign="space-between center"
      fxFlex="1 0"
    >
      <div class="task" *ngIf="appState !== 'config'">
        <span *ngIf="appState === 'running'" class="task-text">
          {{currentOperationString}}
        </span>
        <div
          *ngIf="appState === 'enter_answer' || appState === 'answered'"
          fxLayout="column"
          fxLayoutAlign="start center"
        >
          <input
            type="text"
            maxlength="3"
            (keypress)="isNumberInput($event)"
            (keyup.enter)="onAnswerInput()"
            fxFlex="none"
            class="my-input answer-input task-text"
            #answerInput
            autofocus
          >
          <label class="answer-input-hint">
            Ответ
          </label>
        </div>
      </div>

      <button
        *ngIf="appState === 'enter_answer'"
        class="enter-answer-button button"
        (click)="onAnswerInput()"
        type="button"
      >
        Ответить
      </button>
      <span *ngIf="appState === 'answered'" fxLayoutGap="1em">
        <button type="button" class="button" (click)="onRetry()">
          Еще раз
        </button>
        <button type="button" class="button" (click)="onClear()">
          Очистить
        </button>
      </span>
      <div
        class="past-operations"
        fxLayout="row"
        fxLayoutAlign="start center"
      > 
        <!-- <i class="material-icons icon-button" (click)="scrollPastOperationsLeft()">
          keyboard_arrow_left
        </i> -->
        <span
          #pastOperationsList
          class="past-operations-list"
          [class.hidden]="!showPastOperations"
        >
          &nbsp;
          <span
            *ngFor="let operation of pastOperations"
            class="past-operation"
          >
            {{operationToString(operation)}}
          </span>
        </span>
        <!-- <i class="material-icons icon-button" (click)="scrollPastOperationsLeft()">keyboard_arrow_right</i> -->
        <i
          class="material-icons past-operations-show icon-button"
          [ngClass]="showPastOperations ? 'past-operations-show--stop' : 'past-operations-show--play'"
          (click)="showPastOperations = !showPastOperations"
        >
          slideshow
        </i>

      </div>   
    </div>
  </section>

  <section
    class="section"
    [class.not-in-focus]="appState !== 'config'"
    fxFlex="none"
  >
    <header>
      <h1 class="section-header-text">УСТАНОВКА ПАРАМЕТРОВ</h1>
    </header>
    <div class="params" fxLayout="column" fxLayoutGap="1em">
      <div class="params-digits" *ngIf="isPlusMinusTopic()" fxLayout="row" fxLayoutAlign="start center">
        Разряды:
        &nbsp;
        <i class="material-icons params-digits-icon" (click)="setDigitsCnt(1)" title="Однозначные">
          {{configForm.value['digitsCnt'] >= 1 ? 'star' : 'star_border'}}
        </i>
        <i
          class="material-icons params-digits-icon" (click)="setDigitsCnt(2)" title="Двузначные">
          {{configForm.value['digitsCnt'] >= 2 ? 'star' : 'star_border'}}
        </i>
        <i class="material-icons params-digits-icon" (click)="setDigitsCnt(3)" title="Трехзначные">
          {{configForm.value['digitsCnt'] >= 3 ? 'star' : 'star_border'}}
        </i>
      </div>
      <div class="params-speed" *ngIf="isPlusMinusTopic()">
        Скорость:
        <select 
          required
          id="speedValues"
          class="my-input"
          [formControl]="configForm.get('speed')"
        >
          <option *ngFor="let opt of speedValues" [value]="opt">
            {{opt}}
          </option>
        </select>
        &nbsp;c.
      </div>
      <div class="operations-cnt" *ngIf="isPlusMinusTopic()">
        Количество действий:
        <input
          class="my-input"
          required
          type="number"
          min="3"
          max="100"
          [formControl]="configForm.get('operationsCnt')"
        >
      </div>
      <div class="withRemainder" *ngIf="isDivisionTopic()">
        С остатком:&nbsp;
        <input
          type="checkbox"
          class="my-checkbox"
          [formControl]="configForm.controls['withRemainder']"
        >
      </div>
    <button
      type="button"
      (click)="onStart()"
      [disabled]="!configForm.valid"
      class="button start-button"
      *ngIf="appState === 'config'"
    >
      Начать
    </button>
    </div>
  </section>
</main>

<div id="sound-container">

</div>
